<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>TwoCam utilise la caméra pour enregistrer des vidéos avec plusieurs caméras simultanément</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>TwoCam utilise le microphone pour enregistrer l&apos;audio des vidéos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>woCam souhaite accéder à vos photos pour sauvegarder les vidéos</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>TwoCam souhaite sauvegarder vos vidéos dans Photos</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
					<key>NSCameraUsageDescription</key>
					<string>TwoCam a besoin de la caméra pour enregistrer des vidéos.</string>
					<key>NSMicrophoneUsageDescription</key>
					<string>TwoCam a besoin du microphone pour enregistrer l&apos;audio.</string>
					<key>NSPhotoLibraryUsageDescription</key>
					<string>TwoCam souhaite accéder à vos photos pour sauvegarder les vidéos</string>
					<key>NSPhotoLibraryAddUsageDescription</key>
					<string>TwoCam souhaite sauvegarder vos vidéos dans Photos</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
